* {
    margin: 0;
    padding: 0;
    cursor: none;
}

:root {
    --color-menu-red: #e20e17;
    --color-menu-white: #fff;
    --color-menu-hover: #8b8b8b;
    --font-family-menu: nunitosans-italic;
    --font-family-regular: nunitosans-regular;
}


@font-face {
    font-family: nunitosans-italic;
    src: url("./font/NunitoSans-Italic.ttf");
    
}

@font-face {
    font-family: nunitosans-regular;
    src: url("./font/NunitoSans.ttf");
    
}


body {
    
    background-color: black;
    overflow-y: hidden;
}

/* CURSOR */
.inner-cursor {
    position: fixed;
    left: 10px;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* mix-blend-mode: difference; */
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s;
    z-index: 50;
}

/* .inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width 0.3s, height 0.3s;
} */

.inner-cursor-play.play {
    visibility: hidden;
}

.innerPlay.play {
    position: fixed;
   /*  left: 50%;
    top: 50%; */
    /* width: 50px;
    height:30px; */
    font-family: var(--font-family-menu);
    text-align: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-bottom: .1vw solid #fff;
    overflow: hidden;
    animation: anim 2.5s linear ;
    z-index: 50;
}



.innerPlay h1 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

@keyframes anim {
    0% {
        width: 1%;
        height: 1%;
    }
    30% {
        width: 3%;
        height: 1%;
    }
    60% {
        width: 3%;
        height: 2%;
    }
    80% {
        width: 3%;
        height: 2%;
    }
    100% {
        width: 3%;
        height: 2%;
    }
}


.outer-cursor {
    position: fixed;
    left: 10px;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    border: 2.3px solid #686868;
    /* mix-blend-mode: difference; */
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s;
    z-index: 50;
}

.outer-cursor.grow {
    width: 90px;
    height: 90px;
    transition: width 0.3s, height 0.3s;
}

.banner {
    position: relative;
    padding-top: 10px;
    background-color: #000000;
    /* height: 100%; */ /* 70px */
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.logo-ludics {
    /* height: 60px; */
    width: 200px;
    padding: 0 20px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    height: 50px;
    padding: 0.5% 60px 0.5% 60px;
    display: flex;
    align-items: center;
}

.logo-ig, .logo-tt, .logo-yt {
    height: 40px;
    margin: 10px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}


/* HOME */
#left {
    left: 0;
    width: 100%;
   
    z-index: 10;
    
}

#left.toggleService {
    width: 27%;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1);
}

#left.toggleLudics,
#left.toggleAndMore {
    transform: translateX(-150%);
    transition: all 2s linear;
}

#left.activate-btn-1,
#left.activate-btn-2,
#left.activate-btn-3,
#left.activate-btn-4,
#left.activate-btn-5 {
    width: 19.5%;
}




.container-home {
    width: 100%;
    height: 97%;
    position: absolute;
   
}

.menu-home {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: var(--font-family-menu);
    display: inline-block; /* Asegura que el span ocupe solo el ancho de su contenido */
    transform: scaleX(1.2); /* Escala horizontalmente el contenido */
    transform-origin: left;
    font-size: 8vw;
    line-height: 10vw;
    font-weight: 100;
    transition: font-size 1s, line-height 1s, transform 1s;
}

.menu-home .space {
    margin-right: 0.4em;
}

.menu-home.toggleService {
    font-size: 4vw;
    line-height: 5vw;
    transform: scaleX(0.5);
    
}

.menu-home.toggleLudics,
.menu-home.toggleAndMore {
    font-size: 4vw;
    line-height: 5vw;
    transform: scaleX(0.5);
    transition: all 0.7s;
}


.menu-home.activate-btn-1,
.menu-home.activate-btn-2,
.menu-home.activate-btn-3,
.menu-home.activate-btn-4,
.menu-home.activate-btn-5 {
    font-size: 3vw;
    line-height: 4vw;
    transform: scaleX(0.5);
}


.menu-home a,
.menu-servicios a  {
    margin-bottom: 80px !important;
    text-decoration: none;
    color: var(--color-menu-white);
}

.menu {
    margin-bottom: 0.8%;
}

.menu,
.menu-servicios.menu {
    margin-left: 80px;
    font-weight: 1000;
    transition: font-weight 0.4s;
}

.menu:hover {
    font-weight: 100;
    color: var(--color-menu-red);
}

.no-hover,
.no-hover-ludics,
.no-hover-and-more {
    font-weight: 100;
    margin-left: 130px;
    margin-bottom: 0.8%;
    color: var(--color-menu-hover);
    
}

.no-hover:hover,
#miElemento1.toggleService {
    color: var(--color-menu-red);
}




aside {
    position: fixed;
    top: 0;

    height: 100%;
    display: flex;
}


/* SERVICIOS */

#t_servicios .toggleService { /* se elimino el :target */
    transform: translateX(-100%);
}

#servicios.activate-btn-1,
#servicios.activate-btn-2,
#servicios.activate-btn-3,
#servicios.activate-btn-4,
#servicios.activate-btn-5 {
    transform: translateX(-107%);
}


aside#servicios {
    width: 78%;
    left: 100%;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
}


aside#servicios::-webkit-scrollbar {
    display: none;
}


.menu-servicios {
    padding-top: 90px;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-menu);
    display: inline-block; /* Asegura que el span ocupe solo el ancho de su contenido */
    transform: scaleX(1.05); /* Escala horizontalmente el contenido */
    transform-origin: left;
    font-size: 6vw;
    line-height: 7vw;
    transition: font-size 1s, line-height 1s, transform 1s;
}

.menu-servicios .menu {
    margin-bottom: 3% !important;
}



.menu-servicios.activate-btn-1,
.menu-servicios.activate-btn-2,
.menu-servicios.activate-btn-3,
.menu-servicios.activate-btn-4,
.menu-servicios.activate-btn-5 {
    font-size: 6vw;
    line-height: 7vw;
    transform: scaleX(0.45);
}

.menu-servicios.menu.activate-btn-1,
.menu-servicios.menu.activate-btn-2,
.menu-servicios.menu.activate-btn-3,
.menu-servicios.menu.activate-btn-4,
.menu-servicios.menu.activate-btn-5 {
    font-weight: 100;
}

.menu-servicios.menu:hover {
    font-weight: 100;
}

.menu-servicios:hover > :not(:hover) {
    color: var(--color-menu-hover);
}

/* LUDICS */



#t_ludics .toggleLudics {  /* se elimino el :target */
    transform: translateX(-150%);
}

aside#ludics {
    width: 100%;
    height: 100vh;
    left: 150%;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: all 1.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    z-index: 1;
}

aside#ludics::-webkit-scrollbar {
    display: none;
}


.container-ludics {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-menu);
    color: var(--color-menu-white);
    margin: 0;
    padding: 0;
    
}

.banner.toggleLudics { 
    background-color: #00000060 ;
}

.img-team {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}


#ludics-team {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;

}

.img-squad {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 170%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gradient-red {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#ludics-squad {
    position: absolute;
    width: 30%;
    left: 36%;
    padding-top: 20%;
    
}

#description-ludics {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-ludics {
    text-align: center; 
    font-size: 165%;
    font-weight: 500;
    padding: 0 25%;
    font-family: var(--font-family-regular);
}

.description-ludics span {
    color: var(--color-menu-red);
    font-weight: 800;
    font-family: var(--font-family-menu);
}



/* SLIDER LUDICS */
.slider-team {
    position: relative;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper1 {
    width: 100%;
    padding:50px 0;
    margin: 0 !important;
    left: 9;
    position: relative;
}

.swiper1 .swiper-slide {
    position: relative;
    width: 500px; 
    height: 500px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177,177,177,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: inherit;
    user-select: none;
}

.swiper-pagination {
    --swiper-pagination-bottom: -3px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #5f5f5f;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: rgba(25, 43, 206, 1);
    border-radius: 14px;
}

@media (max-height: 768px) {
    .swiper1 .swiper-slide {
        position: relative;
        width: 400px; 
        height: 400px;
        aspect-ratio: 3/4;
        border-radius: 14px;
        border: 1px solid rgba(177,177,177,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#experiencia-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiencia-title img {
    width: 50%;
}




/* SECCION BOTONES SERVICIOS VIDEOS */

.no-hover-btn-1,
.no-hover-btn-2,
.no-hover-btn-3,
.no-hover-btn-4,
.no-hover-btn-5 {
    font-weight: 100;
    color: var(--color-menu-hover);
    transition: font-weight 0.3s ease-in-out;
}

.no-hover-btn-1:hover,
.no-hover-btn-2:hover,
.no-hover-btn-3:hover,
.no-hover-btn-4:hover,
.no-hover-btn-5:hover {
    font-weight: 1000;
    color: var(--color-menu-red);
}

#idBtn-1.activate-btn-1,
#idBtn-2.activate-btn-2,
#idBtn-3.activate-btn-3,
#idBtn-4.activate-btn-4,
#idBtn-5.activate-btn-5 {
    color: var(--color-menu-red);
    font-weight: 1000;
}

/* BTN-EVENTOS */

#eventos .activate-btn-1,
#building .activate-btn-2,
#audiovisual .activate-btn-3,
#marketing .activate-btn-4,
#estudio .activate-btn-5 {
    transform: translateX(-300%);
}

aside#t_eventos,
aside#t_building,
aside#t_audiovisual,
aside#t_marketing,
aside#t_estudio {
    padding-top: 70px;
    width: 50%;
    height: 100%;
    left: 200%;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
}

#t_eventos::-webkit-scrollbar,
#t_building::-webkit-scrollbar,
#t_audiovisual::-webkit-scrollbar,
#t_marketing::-webkit-scrollbar,
#t_estudio::-webkit-scrollbar {
    display: none;
}

#btn-eventos,
#btn-building,
#btn-audiovisual,
#btn-marketing,
#btn-estudio {
    margin-bottom: 10%;
}

.video {
    position: relative;
    width: 95%;
    height: 550%;
    margin-top: 3%;
    overflow: hidden;
}

.title-video {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 3% 2% ;
    color: var(--color-menu-white);
    font-family: var(--font-family-menu);
    display: inline-block;
    transform: scaleX(1.3);
    transform-origin: left;
    font-size: 35pt ;
    font-weight: 1000;
    line-height: 40px;
    z-index: 20;
    transition: font-weight 0.4s, transform 0.4s;
}

.video:hover .title-video {
   font-weight: 300;
   transform: scaleX(1.1);
   z-index: 10;
}

.img-front {
    position: absolute;
    width: 100%;
    /* opacity: 1; */
    object-fit: cover;
    filter: grayscale(100%);
    z-index: 10;
}

/* .img-front:hover {
    opacity: 0%;
} */




.text-description-service {
    position: absolute;
    width: 94%;
    height: 60%;
    font-family: var(--font-family-menu);
    /* font-weight: 500; */
    font-variation-settings: "wght" 500, "wdth" 100;
    font-size: 1.125rem;
    color: var(--color-menu-hover);
}

.text-description-service p {
    margin: 40px 0;
    line-height: 2;
}

.video-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    z-index: 50;
}

.modal {
    width: 84vw;
    height: 75%;
    position: relative;
    /* padding-top: 50%; */
    margin: 2rem 0;
}

.modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.modal-bg {
    display: none;
    opacity: 0;
    overflow: hidden;
}

/* @media screen and (min-width: 900px) {
    .modal {
        padding-top: 0;
        width: 809px;
        height: 505px;
    }
} */


/* Y MAS */

#t_and_more .toggleAndMore {  
    transform: translateX(-150%);
}

aside#and-more {
    width: 100%;
    left: 150%;
    right: 0;
    overflow-y: scroll;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transition: all 1.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    z-index: 1;
}


aside#and-more::-webkit-scrollbar {
    display: none;
}

#and-more {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-menu);
    color: var(--color-menu-white);
    margin: 0;
    padding: 0;
    
}


.slider-portafolio {
    position: relative;
    height: 100%;
    padding: 70px 20px 20px 20px;
    margin: 0;
}

.swiper2 {
    width: 100%;
    height: 55%;
    margin: 25px 0;
    overflow: hidden;
    
  }
.swiper3 {
    width: 100%;
    height: 35%;
    margin: 25px 0;
    overflow: hidden;
    
}

.swiper2 .swiper-slide,
.swiper3 .swiper-slide {
    position: relative !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper2 .swiper-slide img,
.swiper3 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hablemos-title{
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hablemos-title img {
    width: 50%;
}


#contact-ludics ul {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-ludics img {
    width: 65px;
}

#contact-ludics li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}

#contact-ludics h2 {
    margin-left: 50px;
    font-size: 26pt;
}




#title-company-and-more img {
    padding-top: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-and-more {
    
    margin-top: 50px;
    padding-bottom: 10%;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-image: url('./img/ymas/company/background-company.png');
    background-size: cover;
    background-position: bottom;
}

.company {
    height: 80px;
    width: 15%;
    margin: 2% 3%;
}

.animation-up {
    opacity: 0;
    transition: opacity 1.3s ease-in-out, transform 1.5s ease;
}


/* @media (min-width: 768px) {
    .company {
        height: 90px;
        width: 300px;
        margin: 40px 50px;
    }
} */