* {
    margin: 0;
    padding: 0;
    cursor: none;
}

:root {
    --color-menu-red: #e20e17;
    --color-menu-white: #fff;
    --color-menu-hover: #8b8b8b;
    --font-family-menu: nunitosans-italic;
    --font-family-regular: nunitosans-regular;
}


@font-face {
    font-family: nunitosans-italic;
    src: url("./font/NunitoSans-Italic.ttf");
    
}

@font-face {
    font-family: nunitosans-regular;
    src: url("./font/NunitoSans.ttf");
    
}

@font-face {
    font-family: ayuthaya;
    src: url("./font/Ayuthaya.ttf");
}


body {
    
    background-color: black;
    overflow-y: hidden;
}

/* CURSOR */
.inner-cursor {
    position: fixed;
    left: 10px;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* mix-blend-mode: difference; */
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s;
    z-index: 60;
}

.inner-cursor-play.play {
    visibility: hidden;
}

.innerPlay.play {
    position: fixed;
    font-family: var(--font-family-menu);
    text-align: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-bottom: .1vw solid #fff;
    overflow: hidden;
    animation: anim 0.8s linear ;
    z-index: 60;
}



.innerPlay h1 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

@keyframes anim {
    0% {
        width: 1%;
        height: 0%;
    }
    30% {
        width: 3%;
        height: 0%;
    }
    60% {
        width: 3%;
        height: 0.5%;
    }
    80% {
        width: 3%;
        height: 2%;
    }
    100% {
        width: 3%;
        height: 3%;
    }
}


.outer-cursor {
    position: fixed;
    left: 10px;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    border: 2.3px solid #686868;
    background-color: #8c8c8c22;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s;
    z-index: 50;
}

.outer-cursor.grow {
    width: 90px;
    height: 90px;
    transition: width 0.3s, height 0.3s;
}

.banner {
    position: relative;
    padding-top: 5px;
    height: 45px;
    background-color: #000000;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.logo-ludics {
    width: 150px;
    padding: 0 20px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-U,
#logo-I {
    opacity: 1;
    transition: all 0.5s 0.2s ease-in-out;
}

#logo-D {
    transform: translate(0);
    transition: all 0.5s 0.2s ease-in-out;
}

#logo-C,
#logo-S {
    transform: translate(0);
    transition: all 0.5s 0.2s ease-in-out;
}

#logo-U.toggleService,
#logo-U.toggleLudics,
#logo-U.toggleAndMore,
#logo-I.toggleService,
#logo-I.toggleLudics,
#logo-I.toggleAndMore {
    opacity: 0;
    transition: all 0.5s 0.2s ease-in-out;
}

#logo-D.toggleService,
#logo-D.toggleLudics,
#logo-D.toggleAndMore {
    transform: translate(-13%);
    transition: all 0.5s 0.2s ease-in-out;
}

#logo-C.toggleService,
#logo-C.toggleLudics,
#logo-C.toggleAndMore,
#logo-S.toggleService,
#logo-S.toggleLudics,
#logo-S.toggleAndMore {
    transform: translate(-18%);
    transition: all 0.5s 0.2s ease-in-out;
}

.logo-ludics:hover {
    #logo-U,
    #logo-I {
    opacity: 1;
    transition: all 0.5s 0.2s ease-in-out;
    }

    #logo-D {
        transform: translate(0);
        transition: all 0.5s 0.2s ease-in-out;
    }

    #logo-C,
    #logo-S {
        transform: translate(0);
        transition: all 0.5s 0.2s ease-in-out;
    }
}


.social-media {
    height: 50px;
    padding: 0.5% 60px 0.5% 60px;
    display: flex;
    align-items: center;
}

.logo-ig, .logo-tt, .logo-yt {
    height: 33px;
    margin: 0 10px;
}

@media (max-height: 830px) {
    .banner {
        height: 40px;
        padding-top: 5px ;
        overflow: hidden;
    }
    
    .logo-ludics {
        width: 150px;
    }

    .logo-ig, .logo-tt, .logo-yt {
        height: 30px;
        margin: 0 10px;
    }
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* HOME */
#left {
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

#left.toggleService,
#left.toggleLudics,
#left.toggleAndMore {
    width: 21%;
    height: 35vh;
    margin-top: 65vh;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1);
}


#left.activate-btn-1,
#left.activate-btn-2,
#left.activate-btn-3,
#left.activate-btn-4,
#left.activate-btn-5,
#left.activate-btn-6 {
    width: 19.5%;
}




.container-home {
    width: 100%;
    height: 97%;
    position: absolute;
}



.container-home.toggleService {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    /* background-color: aquamarine; */
    display: flex;
    align-items: end;
    transition: height 1s ;
}

.container-home.toggleLudics,
.container-home.toggleAndMore {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 50px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    /* background-color: aquamarine; */
    display: flex;
    align-items: end;
    transition: height 1s ;
}

.line.toggleLudics,
.line.toggleAndMore {
    bottom: 0;
    margin-bottom: 42px;
    color: transparent;
    line-height: 4.45vw;
    /* background-color: #77ff00;
    border-left: 8px solid #ff00a2; */
    z-index: 80;
}


.line-h2.toggleLudics,
.line-h2.toggleAndMore,
.line-h222.toggleAndMore {
    
    border-left: 8px solid var(--color-menu-hover);
    margin-top: 0.8vw;
    width: 100%;
    
}


.line-h22.toggleLudics {
    border-left: 8px solid var(--color-menu-hover);
    margin-top: 0.8vw ;
    width: 100%;
}

.redLudics.toggleLudics,
.redAndMore.toggleAndMore {
    border-left: 8px solid #cd0d17 !important;
    margin-top: 0.8vw;
}

.menu-home {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: var(--font-family-menu);
    display: inline-block; /* Asegura que el span ocupe solo el ancho de su contenido */
    transform: scaleX(1.2); /* Escala horizontalmente el contenido */
    transform-origin: left;
    font-size: 8vw;
    line-height: 10vw;
    font-weight: 100;
    transition: font-size 1s, line-height 1s, transform 1s;
}

.menu-home .space {
    margin-right: 0.4em;
}

.menu-home.toggleService{
    width: 100%;
    margin-bottom: 30px;
    font-size: 4vw;
    line-height: 5.1vw;
    transform: scaleX(0.5);
}

.menu-home.toggleLudics,
.menu-home.toggleAndMore {
    width: 100%;
    margin-bottom: 30px;
    left: -100%;
    font-size: 4vw;
    line-height: 5.1vw;
    transform: scaleX(0.5);
    transition: left 1s, font-size 1s, line-height 1s, transform 1s ;
    /* background-color: #7c0307; */
    
}






.container-home:hover .menu-home {
    left: 0;
}


.menu-home.activate-btn-1,
.menu-home.activate-btn-2,
.menu-home.activate-btn-3,
.menu-home.activate-btn-4,
.menu-home.activate-btn-5,
.menu-home.activate-btn-6 {
    font-size: 3vw;
    line-height: 4vw;
    transform: scaleX(0.5);
}


.menu-home a,
.menu-servicios a  {
    margin-bottom: 80px !important;
    text-decoration: none;
    color: var(--color-menu-white);
}

.menu {
    margin-bottom: 0.8%;
}

.menu,
.menu-servicios.menu {
    margin-left: 60px;
    padding-left: 20px;
    font-weight: 1000;
    transition: font-weight 0.4s;
}

.menu:hover {
    font-weight: 100;
    color: var(--color-menu-red);
}

.no-hover {

    font-weight: 100;
    margin-left: 130px;
    margin-bottom: 0.8%;
    color: var(--color-menu-hover);
}
.no-hover-ludics,
.no-hover-and-more {
    font-weight: 100;
    margin-left: 30px; 
    margin-bottom: 0.8%;
    color: var(--color-menu-hover);
}


.no-hover:hover,
#miElemento1.toggleService,
#miElemento2.toggleLudics,
#miElemento3.toggleAndMore {
    color: var(--color-menu-red);
}




aside {
    position: fixed;
    top: 0;

    height: 100%;
    display: flex;
}


/* SERVICIOS */

#t_servicios .toggleService { /* se elimino el :target */
    transform: translateX(-300%);
}

#servicios.activate-btn-1,
#servicios.activate-btn-2,
#servicios.activate-btn-3,
#servicios.activate-btn-4,
#servicios.activate-btn-5,
#servicios.activate-btn-6 {
    transform: translateX(-304%);
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
}


aside#servicios {
    width: 78%;
    left: 255%;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: all 1.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
}


aside#servicios::-webkit-scrollbar {
    display: none;
}


.menu-servicios {
    padding-top: 90px;
    margin-bottom: 30px;
    width: 100%;
    font-family: var(--font-family-menu);
    display: inline-block; /* Asegura que el span ocupe solo el ancho de su contenido */
    transform: scaleX(1.05); /* Escala horizontalmente el contenido */
    transform-origin: left;
    font-size: 6vw;
    line-height: 7vw;
    background-color: #000000;
    transition: font-size 1s, line-height 1s, transform 1s;
}

.menu-servicios .menu {
    margin-bottom: 3% !important;
}



.menu-servicios.activate-btn-1,
.menu-servicios.activate-btn-2,
.menu-servicios.activate-btn-3,
.menu-servicios.activate-btn-4,
.menu-servicios.activate-btn-5,
.menu-servicios.activate-btn-6 {
    font-size: 6vw;
    line-height: 7vw;
    transform: scaleX(0.4);
}

.menu-servicios.menu.activate-btn-1,
.menu-servicios.menu.activate-btn-2,
.menu-servicios.menu.activate-btn-3,
.menu-servicios.menu.activate-btn-4,
.menu-servicios.menu.activate-btn-5,
.menu-servicios.menu.activate-btn-6 {
    font-weight: 100;
}

.menu-servicios.menu:hover {
    font-weight: 100;
}

.menu-servicios:hover > :not(:hover) {
    color: var(--color-menu-hover);
}

#t_servicios h2 {
    display: none;
}

/* LUDICS */



#t_ludics .toggleLudics {  /* se elimino el :target */
    transform: translateX(-350%);
}

aside#ludics {
    width: 100%;
    height: 100vh;
    left: 350%;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: all 2s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    z-index: 1;
}

aside#ludics::-webkit-scrollbar {
    display: none;
}


.container-ludics {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-menu);
    color: var(--color-menu-white);
    margin: 0;
    padding: 0;
    
}

.banner.toggleLudics { 
    background-color: #00000060 ;
}

.blank {
    position: absolute;
  width: 100%;
  min-height: 200vh;
  background-color: #000000;
  z-index: -1;
}

.img-team {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
    
}


#ludics-team {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;

}

.img-squad {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 170%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#gradient-red {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#ludics-squad {
    position: absolute;
    width: 30%;
    left: 36%;
    padding-top: 20%;
    
}

#description-ludics {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-ludics {
    text-align: center;
    font-size: 130%;
    font-weight: 400;
    padding: 0 23%;
    font-family: var(--font-family-regular);
}

.description-ludics span {
    color: var(--color-menu-red);
    font-weight: 900;
    font-family: var(--font-family-menu);
}



/* SLIDER LUDICS */
.slider-team {
    position: relative;
    height: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.swiper1 {
    width: 100%;
    padding:50px 0;
    margin: 0 !important;
    left: 4%;
    position: relative;
}

.swiper1 .swiper-slide {
    position: relative;
    width: 400px; 
    height: 500px;
    aspect-ratio: 2/4;
    border-radius: 14px;
    border: 1px solid rgba(177,177,177,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}

.swiper-slide-active{
    filter: grayscale(0%) !important;
}

.swiper1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:none; /* fill */
    border-radius: inherit;
    user-select: none;
}

.swiper-pagination {
    --swiper-pagination-bottom: -3px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--color-menu-hover);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: var(--color-menu-red);
    border-radius: 14px;
}

@media (max-height: 768px) {
    .swiper1 .swiper-slide {
        position: relative;
        width: 300px; 
        height: 400px;
        aspect-ratio: 3/4;
        border-radius: 14px;
        border: 1px solid rgba(177,177,177,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#experiencia-title{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    background-image: linear-gradient(#000 40%, #cd0d17);
}

#experiencia-title img {
    width: 80%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-640px * 4));
    }
}

.banner-footer {
    position: relative;
    width: 100%;
    height: 5em;
    margin: auto;
    background-color: #cd0d17;
    display: grid;
    place-items: center;
}

.slide-text {
    animation: scroll 35s linear infinite;
    display: flex;
    width: calc(670px * 8);
}

.text-slider {
    font-size: 2em;
    font-family: ayuthaya;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.text-slider h1 {
    width: 100%;
}

footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    height: calc(100vh - 130px); /* footer height */
    z-index: -80;
}

.banner-img-video {
    position: absolute;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-height: 830px) {
    footer {
        height: calc(100vh - 125px); /* footer height */
    }
    footer.banner-img-video {
        height: calc(100vh - 125px);
    }
}

/* SECCION BOTONES SERVICIOS VIDEOS */

.no-hover-btn-1,
.no-hover-btn-2,
.no-hover-btn-3,
.no-hover-btn-4,
.no-hover-btn-5,
.no-hover-btn-6 {
    font-weight: 100;
    color: var(--color-menu-hover);
    transition: font-weight 0.3s ease-in-out;
}

.no-hover-btn-1:hover,
.no-hover-btn-2:hover,
.no-hover-btn-3:hover,
.no-hover-btn-4:hover,
.no-hover-btn-5:hover,
.no-hover-btn-6:hover {
    font-weight: 1000;
    color: var(--color-menu-red);
}

#idBtn-1.activate-btn-1,
#idBtn-2.activate-btn-2,
#idBtn-3.activate-btn-3,
#idBtn-4.activate-btn-4,
#idBtn-5.activate-btn-5,
#idBtn-6.activate-btn-6 {
    color: var(--color-menu-red);
    font-weight: 1000;
}

/* BTN-EVENTOS */

#eventos .activate-btn-1,
#building .activate-btn-2,
#audiovisual .activate-btn-3,
#marketing .activate-btn-4,
#estudio .activate-btn-5,
#tvshow .activate-btn-6 {
    transform: translateX(-300%);
    transition: all 1s cubic-bezier(0.5, 0.1, 0.25, 1) !important;
}


aside#t_eventos,
aside#t_building,
aside#t_audiovisual,
aside#t_marketing,
aside#t_estudio,
aside#t_tvshow {
    padding-top: 70px;
    width: 50%;
    height: 100%;
    left: 200%;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.5, 0.1, 0.25, 1) !important;
}

#t_eventos::-webkit-scrollbar,
#t_building::-webkit-scrollbar,
#t_audiovisual::-webkit-scrollbar,
#t_marketing::-webkit-scrollbar,
#t_estudio::-webkit-scrollbar,
#t_tvshow::-webkit-scrollbar {
    display: none;
}

#btn-eventos,
#btn-building,
#btn-audiovisual,
#btn-marketing,
#btn-estudio {
    margin-bottom: 10%;
}

.video {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 3%;
}

.img-front {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 1;
    z-index: 10;
}

.img-front:hover {
    opacity: 0;
}

.video .video-1 {
    width: 100%;
    opacity: 0;
}

.video:hover .video-1 {
    opacity: 1;
}

.title-video {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 3% 2% ;
    color: var(--color-menu-white);
    font-family: var(--font-family-menu);
    display: inline-block;
    transform: scaleX(1.3);
    transform-origin: left;
    font-size: 2.8vw ;
    font-weight: 1000;
    line-height: 2.5vw;
    z-index: 20;
    transition: font-weight 0.4s, transform 0.4s;
}

.video:hover .title-video {
   font-weight: 300;
   transform: scaleX(1.1);
   z-index: 10;
}



.text-description-service {
    position: absolute;
    width: 94%;
    height: 60%;
    font-family: var(--font-family-menu);
    /* font-weight: 500; */
    font-variation-settings: "wght" 500, "wdth" 100;
    font-size: 1.125rem;
    color: var(--color-menu-hover);
}

.text-description-service p {
    margin: 40px 0;
    line-height: 2;
}



.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    z-index: 50;
}

.modal {
    width: 84vw;
    height: 75%;
    position: relative;
    /* padding-top: 50%; */
    margin: 2rem 0;
}

.modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.modal-bg {
    display: none;
    opacity: 0;
    overflow: hidden;
}

/* @media screen and (min-width: 900px) {
    .modal {
        padding-top: 0;
        width: 809px;
        height: 505px;
    }
} */


/* Y MAS */

#t_and_more .toggleAndMore {  
    transform: translateX(-350%);
}

aside#and-more {
    width: 100%;
    left: 350%;
    right: 0;
    overflow-y: scroll;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transition: all 2s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    z-index: 1;
}


aside#and-more::-webkit-scrollbar {
    display: none;
}

#and-more {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-menu);
    color: var(--color-menu-white);
    margin: 0;
    padding: 0;
    
}

#container-resume {
    height: 42vh;
    background-color: #000000;
    padding: 60px 20px 0 20px;
    display: flex;
}

.description-resume {
    width: 40%;
    height: 100%;
    background-color: #000000;
}

.video-resume {
    width: 60%;
    height: 100%;
}

.video-resume video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-resume {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0));
    position: absolute;
}

.gradient-resume img {
    padding-left: 10%;
    width: 30%;
    object-fit: cover;
}

.gradient-resume p,
.gradient-resume h4 {
    padding-left: 10%;
    font-family: var(--font-family-regular);
    font-size: 1.125rem;
    color: var(--color-menu-white);
    font-weight: 400;
}

.gradient-resume h4 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
}

.gradient-resume h4 span {
    margin-right: 2em;
}



.slider-portafolio {
    position: relative;
    height: 100%;
    padding: 0 20px 20px 20px;
    margin: 0;
}

.swiper2 {
    width: 100%;
    height: 55%;
    margin: 25px 0;
    overflow: hidden;
    
}

.swiper3 {
    width: 100%;
    height: 35%;
    margin: 25px 0;
    overflow: hidden;
    
}

.swiper2 .swiper-slide,
.swiper3 .swiper-slide {
    position: relative !important;
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper2 .swiper-slide img,
.swiper3 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hablemos-title{
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hablemos-title img {
    width: 40%;
}


#contact-ludics ul {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-ludics img {
    width: 50px;
}

#contact-ludics li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}

#contact-ludics h2 {
    margin-left: 50px;
    font-size: 20pt;
}

@media  screen and (max-width: 1440px) {
    #contact-ludics img {
        width: 45px;
    }
    #contact-ludics li {
        margin: 1rem 1rem;
    }
    
    #contact-ludics h2 {
        margin-left: 20px;
        font-size: 18pt;
    }
}


#title-company-and-more img {
    padding-top: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-and-more {
    
    margin-top: 50px;
    padding-bottom: 10%;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-image: url('./img/ymas/company/background-company.png');
    background-size: cover;
    background-position: bottom;
}

.company {
    height: 80px;
    width: 15%;
    margin: 2% 3%;
}

.animation-up {
    opacity: 0;
    transition: opacity 1.3s ease-in-out, transform 1.5s ease;
}



@media screen and (max-width: 1440px) {
    .line.toggleLudics,
    .line.toggleAndMore {
        line-height: 4.4vw;
    }
}

@media screen and (max-width: 479px) {
    .inner-cursor {
        background-color: transparent !important;
    }

    .inner-cursor-play.play {
        visibility: hidden;
    }
    
    .innerPlay.play {
        
        border-bottom: none;
        
    }
    
    .innerPlay h1 {
        
        color: transparent !important;
    }
    
    .outer-cursor {
        background-color: transparent !important;
        border: none;
    }

    .btnBack-container {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 6rem;
        height: 6rem;
        z-index: 10;
        visibility: hidden;
    }

    .btnBack-container.toggleService,
    .btnBack-container.toggleLudics,
    .btnBack-container.toggleAndMore {
        visibility: visible;
    }
    
    .btnBack {
        position: relative;
        width: 5rem;
        height: 5rem;
        background-color: #34070a90;
        border: 2.3px solid #686868;
        border-radius: 50%;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    
    .btnBack h1 {
        position: absolute;
        font-family: var(--font-family-regular);
        font-weight: 800;
        font-size: 1.1rem;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        border-bottom: 1vw solid #fff;
    }
    
    .show {
        z-index: 10;
    }
    
    
    

    .logo-ludics {
        padding: 0 20px 0 20px;
    }
    .social-media {
        padding: 0 20px 0 20px;
    }

    .container-home {
        height: 97vh;
        width: 100vw;
    }

    #left.toggleService,
    #left.toggleLudics,
    #left.toggleAndMore {
        width: 0;
        left: -25%;
        height: 35vh;
        margin-top: 65vh;
        transform: translateX(-300%);
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1);
    }

    .container-home.toggleService,
    .container-home.toggleLudics,
    .container-home.toggleAndMore {
        transform: translateX(-300%);
        transition: transform 6s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }
    

    .line.toggleLudics,
    .line.toggleAndMore {
        display: none;
    }

    .menu-home.activate-btn-1,
    .menu-home.activate-btn-2,
    .menu-home.activate-btn-3,
    .menu-home.activate-btn-4,
    .menu-home.activate-btn-5,
    .menu-home.activate-btn-6 {
        transform: translateX(-400%);
        transition: transform 2s cubic-bezier(.5, -0.005, 0.2, 1) !important;
}

    .menu,
    .menu-servicios.menu {
        margin-left: 0px;
    }

    .menu-home {
        font-size: 8vw;
        line-height: 10vw;
        font-weight: 100;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }

    .menu-home.toggleService{
        width: 120%;
        margin-bottom: 0px;
        font-size: 8vw;
        line-height: 10vw;
    }

    .menu-home.toggleLudics,
    .menu-home.toggleAndMore {
        width: 120%;
        margin-bottom: 0px;
        left: 0;
        font-size: 8vw;
        line-height: 10vw;
        transition: none ;   
    }

    #t_servicios .toggleService { 
        transform: translateX(-320%);
    }
    
    #servicios.activate-btn-1,
    #servicios.activate-btn-2,
    #servicios.activate-btn-3,
    #servicios.activate-btn-4,
    #servicios.activate-btn-5,
    #servicios.activate-btn-6 {
        transform: translateX(-404%);
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }

    .menu-servicios {
        padding-top: 100px;
        line-height: 10vw;
    }
    
    .menu-servicios .menu {
        margin-bottom: 7% !important;
    }

    #t_servicios h2 {
        display: block;
        font-family: var(--font-family-menu);
        font-size: 9vw;
        line-height: 9vw;
        font-weight: 1000;
        color: var(--color-menu-white);
        margin: 0 0 5% 3%;
    }
    

    /* BTN-EVENTOS */

    #eventos .activate-btn-1,
    #building .activate-btn-2,
    #audiovisual .activate-btn-3,
    #marketing .activate-btn-4,
    #estudio .activate-btn-5,
    #tvshow .activate-btn-6 {
        transform: translateX(-200%);
        transition: all 1s cubic-bezier(0.5, 0.1, 0.25, 1) !important;
    }

    aside#t_eventos,
    aside#t_building,
    aside#t_audiovisual,
    aside#t_marketing,
    aside#t_estudio,
    aside#t_tvshow {
        padding-top: 65px;
        margin-left: 10px;
        width: 100%;
    }

    .text-description-service {
        height: 80%;
        font-size: 1.05rem;
       
    }
    
    .text-description-service p {
        margin: 30px 0;
        line-height: 1.5;
    }


    /* LUDICS */


    #ludics-squad {
        width: 60%;
        left: 22%;
    }

    #description-ludics {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .description-ludics {
        text-align: center;
        font-size: 100%;
        font-weight: 400;
        padding: 0 3%;
        font-family: var(--font-family-regular);
    }

    .swiper1 {
        left: 0;
    }

    .swiper1 .swiper-slide {
        width: 200px; 
        height: 300px;
    }

    .swiper1 .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit:fill;
    }

    .swiper2 {
        height: 500px;
    }

    #experiencia-title{
        height: 85%; /* CAMBIO */
    }
    
    #experiencia-title img {
        width: 97%;
    }

    #container-resume {
        display: none;
    }

    .slider-portafolio {
        position: relative;
        height: 100%;
        padding: 60px 20px 20px 20px;
        margin: 0;
    }

    #hablemos-title{
        padding-top: 20%; /* CAMBIO */
    }

    #hablemos-title img {
        width: 80%;
    }
    
    #contact-ludics img {
        width: 35px;
    }
    
    #contact-ludics li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem;
    }
    
    #contact-ludics h2 { /* CAMBIO */
        margin-left: 10px; 
        font-size: 9pt;
    }

    #title-company-and-more img {
        padding-top: 6%;
        display: block;
        width: 100%;
        height: 109%;
        object-fit: cover;
        user-select: none;
    }

    #company-and-more {
        margin-top: 77px;
    }
    
    .company {
        height: 70px;
        width: 37%;
    }



   
     
}

 @media screen and (min-width: 430px) {
        .logo-video-mobile {
          display: none; /* Ocultar el video para pantallas anchas */
        }
      }