

* {
    margin: 0;
    padding: 0;
    
}


.banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    mix-blend-mode: darken;
}

img {
    position: absolute;

    height: 42%;
}

/* body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.displacement {
    filter: url(#displacementFilter);
}

section {
    height: 100vh;
    position: relative;
}


svg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
 */